In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from sklearn import svm

In [3]:
data=pd.read_csv('data/rap_dataset.tsv', sep='\t')
data.head()

,User,PQLevel,Client,Age,Gender,Country,Protocol,TestDate,R,ResponseOrder,...,Determinants,Pair,FormQuality,FQText,Contents,Popular,ZCode,ZScore,SpecialScores,Rejection
0,136,C,31852,28,Male,Israel,32669,4/28/2017 1:06,22,2,...,FC',0,o,NaN,"Hd,Hx",0,ZS,3.5,PHR,0
1,136,C,31852,28,Male,Israel,32669,4/28/2017 1:06,22,1,...,F,1,-,NaN,A,0,NaN,NaN,NaN,0
2,136,C,31852,28,Male,Israel,32669,4/28/2017 1:06,22,3,...,F,1,-,NaN,"Ad,A",0,ZA,3.0,FAB,0
3,136,C,31852,28,Male,Israel,32669,4/28/2017 1:06,22,4,...,C'F,0,-,NaN,Hd,0,ZW,5.5,PHR,0
4,136,C,31852,28,Male,Israel,32669,4/28/2017 1:06,22,5,...,F,1,o,NaN,A,0,NaN,NaN,NaN,0

In [5]:
data.columns

Index(['User', 'PQLevel', 'Client', 'Age', 'Gender', 'Country', 'Protocol',
       'TestDate', 'R', 'ResponseOrder', 'cardID', 'Location',
       'LocationNumber', 'DevelopmentalQuality', 'Determinants', 'Pair',
       'FormQuality', 'FQText', 'Contents', 'Popular', 'ZCode', 'ZScore',
       'SpecialScores', 'Rejection'],
      dtype='object')

In [25]:
df1=data.dropna()
#df1.info

In [13]:
text=np.array(df1['FQText']) #we create a NumPy array with the text/answer
labels=np.array(df1['Contents']) #other array for the coding of this answer

In [27]:
x_train,x_test,y_train,y_test=train_test_split(text,labels,test_size=0.05) #Change test_size

tf_vectorizer=TfidfVectorizer(min_df=2,max_df=0.3,ngram_range=(1,3)) #change parameter
x_train_tfidf=tf_vectorizer.fit_transform(x_train)
x_test_tfidf=tf_vectorizer.transform(x_test)

clf = svm.LinearSVC(dual=True, max_iter=1000)
clf.fit(x_train_tfidf, y_train)

clf.score(x_test_tfidf,y_test)

0.49442896935933145

In [28]:
def classify(article_text):
    global clf
    global tf_vectorizer
    global data
    article=tf_vectorizer.transform([article_text])
    
    return clf.predict(article)[0]

In [33]:
classify("a head") #change string here

'Hd'