In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from sklearn import svm

In [3]:
data=pd.read_csv('data/rap_dataset.tsv', sep='\t')
data.head()

,User,PQLevel,Client,Age,Gender,Country,Protocol,TestDate,R,ResponseOrder,...,Determinants,Pair,FormQuality,FQText,Contents,Popular,ZCode,ZScore,SpecialScores,Rejection
0,136,C,31852,28,Male,Israel,32669,4/28/2017 1:06,22,2,...,FC',0,o,NaN,"Hd,Hx",0,ZS,3.5,PHR,0
1,136,C,31852,28,Male,Israel,32669,4/28/2017 1:06,22,1,...,F,1,-,NaN,A,0,NaN,NaN,NaN,0
2,136,C,31852,28,Male,Israel,32669,4/28/2017 1:06,22,3,...,F,1,-,NaN,"Ad,A",0,ZA,3.0,FAB,0
3,136,C,31852,28,Male,Israel,32669,4/28/2017 1:06,22,4,...,C'F,0,-,NaN,Hd,0,ZW,5.5,PHR,0
4,136,C,31852,28,Male,Israel,32669,4/28/2017 1:06,22,5,...,F,1,o,NaN,A,0,NaN,NaN,NaN,0

In [5]:
data.columns

Index(['User', 'PQLevel', 'Client', 'Age', 'Gender', 'Country', 'Protocol',
       'TestDate', 'R', 'ResponseOrder', 'cardID', 'Location',
       'LocationNumber', 'DevelopmentalQuality', 'Determinants', 'Pair',
       'FormQuality', 'FQText', 'Contents', 'Popular', 'ZCode', 'ZScore',
       'SpecialScores', 'Rejection'],
      dtype='object')

In [6]:
data.dropna()

,User,PQLevel,Client,Age,Gender,Country,Protocol,TestDate,R,ResponseOrder,...,Determinants,Pair,FormQuality,FQText,Contents,Popular,ZCode,ZScore,SpecialScores,Rejection
121,272,C,40624,10,Male,Chile,41595,5/22/2018 14:27,15,1,...,Ma,1,u,Animal (Winged but unspecified),A,0,ZW,1.0,"FAB,PHR",0
129,272,C,40624,10,Male,Chile,41595,5/22/2018 14:27,15,9,...,Mp,0,u,Face (Photo negative and includes use of DS7 o...,(H),0,ZW,2.5,GHR,0
130,272,C,40624,10,Male,Chile,41595,5/22/2018 14:27,15,10,...,"Ma,FC",0,o,Flower,Bt,0,ZW,4.5,GHR,0
144,272,C,41287,10,Male,Israel,42274,6/16/2018 14:52,18,9,...,F,0,o,Human-Like Figure,(H),1,ZW,2.0,GHR,0
155,272,C,42937,15,Male,Afghanistan,43935,9/10/2018 6:36,20,2,...,"Mp,Fr",0,o,Humans (Two),H,0,ZA,4.0,GHR,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506392,29930,C,58299,28,Not Specified,United States (USA),59457,9/10/2020 20:25,19,8,...,"Fr,FMp",0,o,Monkey,A,0,ZA,3.0,"COP,GHR",0
506395,29930,C,58299,28,Not Specified,United States (USA),59457,9/10/2020 20:25,19,11,...,FT,0,o,Moth,A,0,ZW,1.0,PER,0
506398,29930,C,58299,28,Not Specified,United States (USA),59457,9/10/2020 20:25,19,14,...,"FV,FMa",1,-,"Shrimp (Two, natural form)","A,Na",0,ZW,2.5,"COP,PHR",0
506451,29942,B,58333,24,Not Specified,Georgia,59491,9/12/2020 15:32,8,7,...,"FD,CF",0,-,Face,(Hd),0,ZW,5.5,"PHR,ALOG",0
506456,29942,B,58353,24,Not Specified,Georgia,59511,9/13/2020 15:12,4,4,...,FMa-p,0,o,"Animal (In unnatural form, such as flattened, ...",A,1,ZW,2.5,"MOR,PER",0